.custom-search {
    display: flex;
}
.custom-search__field-input {
    width: 100%;
    padding: 14px;
}
.custom-search__selector {
    flex-shrink: 0;
    position: relative;
    min-width: 200px;
}
.custom-search__input {
    width: 100%;
    padding: 4px 5px;
    font: inherit;
    color: #2E2F38;
    border: none;
    outline: none;
    -webkit-appearance: textfield;
}
